<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/script/scripts.js"></script>
    <title>Game of Thrones Characters</title>
</head>
<body>
    <nav class="navbar sticky-top">
        <h1 class="text-center">Game of Thrones Characters</h1>
        <!-- Search Bar -->
        <form class="form-inline my-2 my-lg-0 ml-auto">
            <input type="text" id="search-input" class="form-control" placeholder="Search for a character" onkeydown="">
            <input onclick="myFunction()" type="submit" value="Search" class="btn btn-primary"/>
        </div>
          </form>
        <div class="search-container">
           
    </nav>
