/* Background and General Styles */
body {
    background-color: #1d1b1b;
    color: #f5f5f5;
    font-family: "Arial", sans-serif;

}

.navbar{
    display: flex;
    background-color: #dcb168;
}

.content{
    position: relative;
    padding: 2vh;
}

h1 {
    font-family: "Blackletter", cursive;
    text-align: center;
    color: #1d1b1b;
}

.card {
    background-color: #323232;
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card-img-top{
    height: 40%;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #dcb168;
}

.card-text.name{
    display: none;
}

.card-text {
    font-size: 16px;
    
}

.card-text  h7 {
    font-weight: 700;
}

/* Button Styles */
.btn-primary {
    background-color: #1d1b1b;
    color: #dcb168;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #f5f5f5;
    color: #1d1b1b;
}

.btn-secondary{
    background-color: #dcb168;
    color: #1d1b1b;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Search Bar Styles */
.search-container {
    display: flex;
    margin: 20px 0;
    float: left;
}

.search-input {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Pagination Styles */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Customize as per your preferences and add Game of Thrones graphics/icons for a more thematic design. */
